.spline {
    position: relative;
    width: 80%;
    height: 50vh;
    margin:  0 auto;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
}

.spline_text {
    position: absolute;
    top: 0%;
    left: 10%;
    color: #fff;
    font-size: 3vw;
}